*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: "Bol";
    src: url(fonts/Futura-Bol.ttf);
}
@font-face {
    font-family: "FBolObl";
    src: url(fonts/Futura-BolObl.ttf);
}
@font-face {
    font-family: "Boo";
    src: url(fonts/Futura-Boo.ttf);
}
@font-face {
    font-family: "BooObl";
    src: url(fonts/Futura-BooObl.ttf);
}
@font-face {
    font-family: "Dem";
    src: url(fonts/Futura-Dem.ttf);
}
@font-face {
    font-family: "DemObl";
    src: url(fonts/Futura-DemObl.ttf);
}
@font-face {
    font-family: "ExtBol";
    src: url(fonts/Futura-ExtBol.ttf);
}
@font-face {
    font-family: "ExtBolObl";
    src: url(fonts/Futura-ExtBolObl.ttf);
}
@font-face {
    font-family: "Lig";
    src: url(fonts/Futura-Lig.ttf);
}
@font-face {
    font-family: "LigObl";
    src: url(fonts/Futura-LigObl.ttf);
}
@font-face {
    font-family: "Med";
    src: url(fonts/Futura-Med.ttf);
}
@font-face {
    font-family: "MedObl";
    src: url(fonts/Futura-MedObl.ttf);
}

a{
    color: #000;
}



.title{
    width: 100vw;
    height: 100vh;
    /* background-image: url(images/background1.jpg); */
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    position: relative;
   
}
.title ul{
    display: flex;
    justify-content: space-between;
    text-align: right;
    line-height: 80px;
    width: 500px;
    position: absolute;
    top: 0;
    right: 60px;
    
    
}


.title a{
    transition: color 0.5s;
    color: #fff;
    font-family: "Med";
    font-size: 30px;
}
.title a:hover{
    transition: color 0.5s;
    color: #3f5dda;
}

.title-texts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    width: 100vw;
}

.title-texts p{
    color: #fff;
    font-size: 50px;
    margin-top: 30px;
    font-family: "MedObl";
    
}

.intro{
    height: 1000px;
}
h2{
    color: #3f5dda;
    font-size: 60px;
    text-align: center;
    padding: 50px;
    font-family: "Bol";
}
.code{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.content{
    padding: 0 50px ;
}
.code img{
    margin-right: 40px;
}
.content p{
    width: 400px;
    line-height: 2em;
}
.content a{
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding: 5px 40px;
    display: block;
    width: 170px;
    margin: 30px auto 0;
    text-align: center;
    font-weight: bold;
    
}
.content a:hover{
    box-shadow: 0 0 10px #999;
}
.code a{
   
    background-color: #3f5dda;
 

}
.joyful{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}
.joyful a{
    background-color: #fec000;
}
.joyful img{
    margin-left: 40px;
    order: 2;
}
.joyful .content{
    order: 1;
}



.courses{
    height: 950px;
    text-align: center;
}

/* ---- particles.js container ---- */ #particles-js{position:absolute; width: 100%; height: 950px; background-color: #d6e5f9; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{  margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }
.courses a{
    width: 170px;
    height: 40px;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    margin: 30px auto 0;
    font-weight: bold;
    font-size: 13px;
}
.courses a:hover{
    box-shadow: 0 0 10px #999;
}
.others{
    position: absolute;
    width: 100vw;
}
.courses div{
    border-radius: 10px;
}
.courses h3{
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
}

.languages-top{
   text-align: center;
}
.others div{
    display: inline-block;
}

.language{
    height: 340px;
    width: 240px;
    background-color: #fff;
    margin: 0 10px 40px;
}
.html div{
    background-image: url(images/html.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.html a{
    background-color: #f16629;
}


.css div{
    background-image: url(images/css.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.css a{
    background-color: #2aa9df;
}

.unity div{
    background-image: url(images/unity.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.unity a{
    background-color: #333333;
}

.ruby div{
    background-image: url(images/ruby.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.ruby a{
    background-color: #ff5252;
}


.languages-bottom{
    display: inline-block;
    text-align: center;
}

.js div{
    background-image: url(images/js.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.js a{
    background-color: #fed700;
}


.swift div{
    background-image: url(images/swift.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.swift a{
    background-color: #fe7635;
}


.kotlin div{
    background-image: url(images/go.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.kotlin a{
    background-color: #72cfdd;
}

.course-img{
    height: 100px;
    width: 80px;
    margin: 50px auto 0;
}
.images{
    height: 450px;
}



.access{
    height: 600px;
}
.access h2{
    padding-bottom: 40px;
}
iframe{
    display: block;
    margin: 0 auto;
}

footer{
    height: 60px;
    line-height: 60px;
    color: #3e5cda;
    text-align: center;
    font-family: "Med";
    font-size: 18px;
}
footer span{
    letter-spacing: -0.05em;
}
.slick01{

    margin: 0 auto;
    width: 80vw;

}
.slick-prev:before,
.slick-next:before {
    color: #000;
    opacity: 1;
}

.slick01 img{
    height: auto;
    width: 100%;
    
}

  

.fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
   }
   @-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
   }
   @keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
   }

@media screen and (max-width:480px){
    .title ul{
        visibility: hidden;
    }
    .title-texts img{
        width: 250px;
       
    }
    .title-texts p{
        font-size: 18px;
    }

    h2{
        font-size: 35px;
        padding: 40px;
    }

    .intro{
        height: 1400px;
    }
    .intro img{
        width: 90vw;
    }
    .content{
        width: 80vw;
        margin: 30px auto 0;
        padding: 0;
        line-height: 2em;
        
    }
    .content p{
        text-align: left;
        font-size: 13px;
        width: 80vw;
    }
    .content a{
        font-size: 14px;
    }
    .code{
        display: block;
        text-align: center;
    }
    .code img{
        margin: 0 auto;
        display: inline;
    }
    .joyful{
        display: block;
        text-align: center;
    }
    .joyful img{
        margin: 0 auto;
        display: inline;
    }


    .courses{
        height: 1150px;
    }
    #particles-js{
        height: 1150px;
    }
    .language{
        height: 220px;
        width: 160px;
        margin-bottom: 30px;
    }
    .course-img{
        margin: 15px auto 0;
        width: 80px;
        height: 90px;
    }
    .courses h3{
        font-size: 13px;
        margin-top: 20px;
    }
    .courses a{
        width: 140px;
        margin-top: 20px;
        font-size: 12px;
    }
}